/* Item page */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.outbd{
    border-top: 1px solid grey ;
    border-bottom: 1px solid grey ;
    padding: 17px 5px;
}
.bestsel{
    color: rgb(255, 136, 0);
    font-size: 15px;
}
.sqlogo{
    font-size: 30px;
    padding-right: 10px;
}
.img{
    border-radius: 20px;
}
.buton{
    box-shadow: 2px 2px 10px black; 
    border: none;
    border-radius: 5px;
    width: 100px; height: 30px;
    font-weight: 600;
    position: relative;
    left: 35px;
    bottom: 15px;
}

/* Login css */
.mainlogin{
    background-image: url("src/assets/KFC bgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logbtn{
    width: 70px; height:35px;
    background-color: rgb(199, 0, 0);
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
}
